<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <a routerLink="">{{ 'app.titulo' | translate }}<sup>tm</sup></a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="home" class="rk-menu__link">{{ 'main.home' | translate }}</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="mosaico" class="rk-menu__link">{{ 'main.galeria' | translate }}</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="videos" class="rk-menu__link">{{ 'main.video' | translate }}</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">{{ 'main.sobre' | translate }}</a>
          </li>
                    
          <li class="rk-menu__item"><a href="" class="rk-menu__link">{{ 'main.idioma' | translate }}</a>
            <nav class="rk-menu__sub">
              <ul class="rk-container">
                <li class="rk-menu__item">
                  <div *ngIf=isSelectedCatalan>
                    <!-- <button (click)="changeLanguageToCatalan()"><img class="flag_icon_idioma seleccionado" alt="" src="/assets/img/flag_cat.png"/></button> -->
                    <button (click)="changeLanguageToCatalan()"><img class="flag_icon_idioma seleccionado" alt="" src="/portafolioAlba/assets/img/flag_cat.png"/></button>                                        
                  </div>
                  <div *ngIf=!isSelectedCatalan>
                    <!-- <button (click)="changeLanguageToCatalan()"><img class="flag_icon_idioma" alt="" src="/assets/img/flag_cat.png"/></button> -->
                    <button (click)="changeLanguageToCatalan()"><img class="flag_icon_idioma" alt="" src="/portafolioAlba/assets/img/flag_cat.png"/></button>
                  </div>
                </li>
                <li class="rk-menu__item">
                  <div *ngIf=isSelectedSpanish>
                    <!-- <button (click)="changeLanguageToSpanish()"><img class="flag_icon_idioma seleccionado" alt="" src="/assets/img/flag_es.png"/></button> -->
                    <button (click)="changeLanguageToSpanish()"><img class="flag_icon_idioma seleccionado" alt="" src="/portafolioAlba/assets/img/flag_es.png"/></button>
                  </div>
                  <div *ngIf=!isSelectedSpanish>                    
                    <!-- <button (click)="changeLanguageToSpanish()"><img class="flag_icon_idioma" alt="" src="/assets/img/flag_es.png"/></button> -->
                    <button (click)="changeLanguageToSpanish()"><img class="flag_icon_idioma" alt="" src="/portafolioAlba/assets/img/flag_es.png"/></button>
                  </div>
                </li>
                <li class="rk-menu__item">
                  <div *ngIf=isSelectedEnglish>
                    <!-- <button (click)="changeLanguageToEnglish()"><img class="flag_icon_idioma seleccionado" alt="" src="/assets/img/flag_en.png"/></button> -->
                    <button (click)="changeLanguageToEnglish()"><img class="flag_icon_idioma seleccionado" alt="" src="/portafolioAlba/assets/img/flag_en.png"/></button>
                  </div>
                  <div *ngIf=!isSelectedEnglish>
                    <!-- <button (click)="changeLanguageToEnglish()"><img class="flag_icon_idioma" alt="" src="/assets/img/flag_en.png"/></button> -->
                    <button (click)="changeLanguageToEnglish()"><img class="flag_icon_idioma" alt="" src="/portafolioAlba/assets/img/flag_en.png"/></button>
                  </div>
                </li>
                <!-- <li class="rk-menu__item">
                  <button id="flag_es"type="button" [translate]="'main.spanish'" class="dropdown-item" (click)="changeLanguageToSpanish()"></button> 
                </li>
                <li class="rk-menu__item">
                  <button id="flag_en" type="button" [translate]="'main.english'" class="dropdown-item" (click)="changeLanguageToEnglish()"></button> 
                </li> -->
              </ul>
            </nav>
          </li>
        </ul>
        <!-- <div class="rk-search">
          <input type="text" 
                  (keyup.enter)="buscarProducto(txtBuscar.value)"
                  placeholder="Buscar..." 
                  id="urku-search" 
                  class="rk-search-field"
                  #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div> -->
      </nav>
    </div>
  </header>
