<div class="container mt-4">
  <h2>Reseñas y Opiniones</h2>

  <div class="profile-container">
    <div class="profile-header">
      <h1>Perfil de Alba Casares</h1>
      <!-- <p class="job-title">Trabajadora en Copistería Soriano</p> -->
    </div>

    <div class="profile-details">
      <p>Alba Casares es una experta en supervisión y gestión de todo el proceso de producción en el ámbito gráfico.
    </div>

    <div class="profile-reviews">
      <h2>Menciones a Alba</h2>
      <p>Lee lo que dicen los clientes sobre la calidad y excelencia del servicio de Alba Casares</p>
      <a href="https://www.google.com/search?sa=X&sca_esv=0ced97706a2430ad&biw=1512&bih=749&tbm=lcl&q=opiniones%20de%20copisteria%20soriano&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxI2M7Q0MbI0MzE0MjE2sTQ0MTIx2cDI-IpRPr8gMy8zPy-1WCElVSEZyCsuSS3KTFQozgeSefmLWAmpAAC38n5jXgAAAA&rldimm=6194296412434914244&hl=es-ES&ved=0CAkQ5foLahcKEwiAvZq856SJAxUAAAAAHQAAAAAQBQ#lkt=LocalPoiReviews&arid=ChZDSUhNMG9nS0VJQ0FnSURucy0zWkFREAE"
          target="_blank" class="reviews-link">Ver reseñas en Google</a>
    </div>
  </div>

  <div *ngFor="let review of reviews" class="review-card mb-3 p-3 border rounded shadow-sm">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <strong>{{ review.user }}</strong>
        <p class="text-muted">{{ review.date | date: 'longDate' }}</p>
      </div>
      <div class="rating">
        <span *ngFor="let star of getStars(review.rating)" class="star">&#9733;</span>
        <span *ngFor="let star of getEmptyStars(review.rating)" class="star">&#9734;</span>
      </div>
    </div>
    <p>{{ review.comment }}</p>
  </div>
</div>
