<div id="fotoDivAbout" class="rk-container centered-content">
  <div class="animated fadeIn">
    <img [src]="_servicio.info.url" alt="FotoPerfil" class="au-mb-3 profile-picture">
    <h5 class="ae-u-bolder au-mt-2">{{_servicio.info.nombre}}</h5>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ 'about.frase' | translate }}</p>
  </div>
</div>

<div class="animated fadeIn timeline">
  <!-- Experiencia 1 -->
  <div class="timeline-item">
    <div class="timeline-content">
      <h6 class="ae-u-boldest">PrintOnSoriano</h6>
      <p class="position">Jefa de producción gráfica editorial</p>
      <!-- <span class="timeline-date">oct. 2020 - Actualidad · 4 años 1 mes</span> -->
      <span class="timeline-date">{{ getElapsedTime() }}</span>
      <p class="au-lh-3">
        Supervisión y gestión de todo el proceso de producción en el ámbito gráfico. Coordinación de un equipo de impresores, colaboración con otros departamentos, asegurando plazos y estándares de calidad.
      </p>
      <!-- <span class="location">Valencia, España · Presencial</span> -->
    </div>
  </div>

  <!-- Experiencia 2 -->
  <div class="timeline-item">
    <div class="timeline-content">
      <h6 class="ae-u-boldest">YOSAN</h6>
      <p class="position">Asesor Comercial de Materiales para Artes Gráficas</p>
      <span class="timeline-date">nov. 2019 - ene. 2020 1 año y 3 meses</span>
      <p class="au-lh-3">
        Gestión y desarrollo de la cartera de clientes, identificación de oportunidades de negocio, y asesoramiento en materiales gráficos.
      </p>
      <!-- <span class="location">Valencia, España · Presencial</span> -->
    </div>
  </div>

  <!-- Experiencia 3 -->
  <div class="timeline-item">
    <div class="timeline-content">
      <h6 class="ae-u-boldest">Mapubli</h6>
      <p class="position">Técnico en Corte y Laminado</p>
      <span class="timeline-date">jul. 2019 - nov. 2019 · 5 meses</span>
      <p class="au-lh-3">
        Operación de maquinaria especializada, diseño de estrategias para cortes precisos y laminado de acuerdo con las especificaciones.
      </p>
      <!-- <span class="location">Valencia, España · Presencial</span> -->
    </div>
  </div>

  <!-- Experiencia 4 -->
  <div class="timeline-item">
    <div class="timeline-content">
      <h6 class="ae-u-boldest">Gimeno Gràfic</h6>
      <p class="position">Técnico en Formación en Diseño Gráfico</p>
      <span class="timeline-date">mar. 2019 - jun. 2019 · 4 meses</span>
      <p class="au-lh-3">
        Apoyo al equipo de diseño en la creación de materiales gráficos y asistencia en la edición de imágenes y creación de conceptos visuales.
      </p>
      <!-- <span class="location">Valencia, España · Presencial</span> -->
    </div>
  </div>
</div>
