*{
    box-sizing: border-box;
}

body{
    /* background: white; */
    margin: 0;
    /* font-family: monospace; */

}

h1{
    color: #444;
    text-align: center;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*Para hacer 3 columnas y que tengan el mismo tamaño*/
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}
.gallery__item{
    position: relative;
}

.gallery_title{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));/*Para un degradado de colores*/
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: xx-small;
}

.gallery__img{
    width: 100%;
    height: 100%;/*con esto hacemos los tamaños iguales, podría no interesarnos */
    object-fit: cover;/*Para que no se distorsione la imagen*/
}

/*Si queremos que esta imagen ocupe dos columnas*/
.gallery__item:nth-child(2){
    grid-column-start: span 2;     
}

.gallery__item:nth-child(3){
    
    grid-row-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
}

.gallery__item:nth-child(4){
    
    grid-row-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
}

.gallery__item:nth-child(8){
    grid-column-start: span 2; /*Si queremos que esta imagen ocupe dos columnas*/    
}

.gallery__item:nth-child(10){
    
    grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
}

.gallery__item:nth-child(11){
    
    grid-row-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
}

.gallery__item:nth-child(13){
    
    grid-row-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
}
.gallery__item:nth-child(27){
    grid-row-start: span 2; /*Si queremos que esta imagen ocupe dos columnas*/    
}

.gallery__item:nth-child(35){
    grid-column-start: span 2;
}

.gallery__item:nth-child(44){
    grid-column-start: span 2;
}

.gallery__item:nth-child(45){
    grid-column-start: span 2;
}

.gallery__item:nth-child(50){
    grid-column-start: span 2;
}

.gallery__item:nth-child(55){
    grid-column-start: span 2;
}




@media(min-width: 768px){
    .gallery-container{
        grid-template-columns: repeat(4, 1fr);/*Para hacer 3 columnas y que tengan el mismo tamaño*/
        grid-auto-rows: 350px;
        padding: 20px;
        grid-gap: 10px;
    }
    .gallery_title{
        font-size: small;
    }
    .gallery__item:nth-child(1){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(2){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(3){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(4){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(7){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(9){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(10){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(11){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(12){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(13){
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    
    .gallery__item:nth-child(39){
        grid-row-start: span 2; /*Si queremos que esta imagen ocupe dos columnas*/        
    }
    .gallery__item:nth-child(40){
        
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(41){
        grid-row-start: span 2; /*Si queremos que esta imagen ocupe dos columnas*/    
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }

    .gallery__item:nth-child(42){
        
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(44){
        
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(45){
        
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(50){
        
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    .gallery__item:nth-child(55){
        
        grid-column-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    
}

@media(min-width: 1024px){
    .gallery-container{
        grid-template-columns: repeat(5, 1fr);/*Para hacer 3 columnas y que tengan el mismo tamaño*/
        grid-auto-rows: 250px;
        padding: 20px;
        grid-gap: 10px;
    }
    .gallery_title{
        font-size: medium;
    }
    .gallery__item:nth-child(10){
        grid-column-start: span 3;/*Si queremos que esta imagen ocupe dos filas*/
        grid-row-start: span 2;/*Si queremos que esta imagen ocupe dos filas*/
    }
    

    
}
